@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <div id="about" class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <h2>About Company Page</h2><br>
                <h4>A pet shop or pet store is an essential services retailer which sells animals and pet care resources to the public. A variety of animal supplies and pet accessories are also sold in pet shops. The products sold include: food, treats, toys, collars, leashes, cat litter, cages and aquariums..</h4><br>
                <p>Pet shops may also offer both hygienic care (such as pet cleaning) and aesthetic services (such as cat and dog grooming).[1] Some pet stores also provide tips on training and behaviour, as well as advice on pet nutrition. Some pet stores provide engraving services for pet tags, which have the owner's contact information in case the pet gets lost.</p>
                <br><button class="btn btn-default btn-lg">Get in Touch</button>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-signal logo"></span>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-grey">
        <div class="row">
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-globe logo slideanim"></span>
            </div>
            <div class="col-sm-8">
                <h2>Our Values</h2><br>
                <h4><strong>MISSION:</strong>To provide innovative, high-quality, consistent, value-for-money, pet friendly health care that will make your pet want to come back again…and again.</h4><br>
                                                                                                                                                                                                       <p>
                                                                                                                                                                                                           <strong>VISION:</strong> 5 years from now, Pet Universe will be the ultimate professional veterinary practice that combines excellent healthcare delivered in a consistent, innovative, enjoyable, caring and pet-friendly way to create a value-for-money yet profitable and unforgettable service experience
                                                                                                                                                                                                       </p>
            </div>
        </div>
    </div>

   
        


</main>

<style>
    html {
        font-size: 20px;
    }
    body {
        background-image: url('../Images/cat.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
</style>